# Ignore virtual environments
venv/
.env

# Ignore other worktrees/repos
LearnEase-frontend/
LearnEase-master/
# Ignore raw data files
data/raw/
data/faiss_index/ids.npy
data/faiss_index/index.faiss

*.pdf
# Ignore system files
*.log
*.tmp

# Ignore Python cache
__pycache__/
*.pyc


